*{
    padding: 0;
}
button {
    background-color: teal;
    border-radius: 5px;
}
    
a{
    color: #E1F4F5 ;
    text-decoration: none;
}




/*----- Navbar Muali ------- */
#navbar{
    height: 55px;
}
#navbar a .nav-link{
    color: teal;
}
/*----- Navbar Selesai ------- */


/*----- Home Muali ------- */
#home{
    background-image: url(img/Home.jpg);
    height: 800px;
    
}
#home .container-fluid{
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    height: 800px;
    left: 0px;
    top: 55px;

}
#home .container-fluid .container{
    padding-top: 350px;
    
    
}
#home h1{
    color: #FFFF;
    font-size: 60px;
}

#home h4{
    color: #FFFF;
}
#home button{
    background-color: teal;
    width: fit-content;
    display: block;
    margin: auto;
}
/*----- Home Selesai ------- */


/*----- About Muali ------- */
#about .container-fluid .container .row .col-6{
    display: flex;
    justify-content: center;
}
#about .container-fluid .container .row .col-6 .judul{
    margin: auto;
    margin-left: 50px;
}
#about .container-fluid .container{
    /*background-color: #A1D6E2;*/
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
}

#about img {
    width: 600px;
    height: 350px ;
    /*border-radius: 20px;*/
}
/*----- About Selesai ------- */


/*----- Kursus Muali ------- */
#kursus{
    padding-top: 30px;
    padding-bottom: 40px;

}

#kursus .container-fluid .container .row .col-3 .card{
    background-color: #A1D6E2;
    height: 400px;
   
}

#kursus h2{
    padding-bottom: 40px;
}
#kursus img{
    height: 40%;
    display: block;
    margin: auto;
}

/*----- Kursus Selesai ------- */

/*--- kabar mulai ----*/
#kabar{
    padding-top: 30px;
    padding-bottom: 40px;
}
#kabar .container-fluid .container .row .col-6{

    display: flex;
    justify-content: center;
}
#kabar .container-fluid .container .row .col-6 .judul{
    margin: auto;
    margin-left: 50px;
}
#kabar .container-fluid .container{
    background-color: #A1D6E2;
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
}

#kabar img{
    width: 600px;
    height: 350px ;
    /*border-radius: 20px;*/
}
/*--- kabar Selsai----*/


/*----- Tutor Muali ------- */
#tutor .container-fluid .container .row .col-2 .card{
    background-color: #A1D6E2;
    height: 300px;
    width: 180px;
    border-radius: 10px;

}
#tutor img{
    height: 130px;
    width: 130px;
    border-radius: 70px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
/*----- Tutor Selesai ------- */

/*----- class Muali ------- */
#class .container-fluid .container .row .col-2 .card{
    background-color: rgba(161, 214, 226, 0.3);
    height: 380px;
    width: 300px;
    border-radius: 20px;

}
#class img{
    height: 130px;
    width: 130px;
    border-radius: 70px;
    display: block;
    margin: auto;
}
/*----- Class Selesai ------- */

/*--------Footer Mulai---------*/
/*--------Footer Selsai---------*/


